<h1> <%= @intersection.street1 %> and <%= @intersection.street2 %> </h1>ยก

<% @intersection.pictures.each do |picture| %>

  <div class="picture">
    <h3><small>Submitted by:</small> <%= picture.user.name %> </h3>
    <p><small> Posted on: <%= picture.created_at %></small></p>

    <img src="<%= picture.img_url %>" width="450">
    <h2><small>Artist:</small> <%= picture.artist_name %> </h2>
    <p> <%= picture.text %> </p>

    <br>
    <br>
  </div>
<% end %>
