<div style="width: 70; position: relative" align: left>
<h1><%= @street1 %></h1><h2> and </h2><h1><%= @street2 %> </h1>
</div>

<% if @intersections.present? %>
 <% @intersections.each do |intersection| %>
   <% intersection.pictures.each do |picture| %>

   <div class="picture">
     <h3><small>Submitted by:</small> <%= picture.user.name %> </h3>
     <p><small> Posted on: <%= picture.created_at %></small></p>
     <img src="<%= picture.img_url %>" width="600">
     <h2><small>Artist:</small> <%= picture.artist_name %> </h2>
     <p> <%= picture.text %> </p>
   </div>
   <% end %>
 <% end %>
<% else %>
   <h3>Sorry results not found!</h3>
   <br>
   <br>
 <% end %>

 <div style="width: 30%; position: relative" align: right>
   <a href="/" class="btn btn-success btn-md">Home</a>
   <a href="/user_page" class="btn btn-warning btn-md">My Collection</a>
 </div>
