<HEAD>
  <TITLE>Toronto Street Art</TITLE>
  <h1 align=left>TORONTO STREET ART</h1>
</div>


  <!-- ## Login  ## -->

<div class="panel-login">

    <% if current_user %>
      <a href="/user_page"><h5><%= current_user.name %>'s Collection</h5> </a>
      <form method = 'get' action = '/logout'>
      <button type="submit" class="btn-warning btn-sm">Log Out</button>
      </form>
    <% else %>
      <form action="/session" method="post">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" required>
          <br>
          <label for="password">Password</label>
          <input type="text" id="password_digest" name="password" required>

      <br>
          <label><input type="checkbox" name="remember_me" value="true"> Remember Me</label
        </div>
        <button type="submit" class="btn-warning btn-sm">Log In</button>
      </form> <br>
    <% end %>
    <br />

</div>


</HEAD>

<BODY>

  <!-- ## Search  ## -->

<div class="jumbotron">
  <!-- <video id="bg-video" autoplay="true" loop="loop" preload="metadata" muted="muted">
        <source src="https://www.youtube.com/watch?v=iarSZjbkufk" type="video/TYPE" />
  </video> -->

  <h4>Find street art by the nearest intersection.</h4>
    <form method='get' action = '/search' class="form-horizontal">
      <div>
        <label> // Street 1  </label> <&nbsp>>
        <input type="text" name="street1">
        <label>// Street 2  </label> <&nbsp>>
        <input type="text" name="street2"
      <br><br> <br>
        <button type="submit" value="Submit" class="btn-success btn-lg">Submit</button>
      </div>
    </form>
</div>


  <!-- ##  Display Pictures ## -->

  <% @pictures.each do |picture| %>

    <div class="picture">
      <h2> // <%= picture.intersection.street1%> <small> AND </small> <%= picture.intersection.street2%> // </h2>
      <h3><small>Submitted by:</small> <%= picture.user.name %> </h3>
      <p><small> Posted on: <%= picture.created_at %></small></p>

      <img src="<%= picture.img_url %>" width="600">
      <i><h5><small>Artist:</small> <%= picture.artist_name %> </h5></i>
      <h6> <%= picture.text %> </h6>

      <br>
      <br>
    </div>
  <% end %>

</BODY>

<FOOTER id=footer>
  <a href="/signup" class="btn btn-warning btn-md">Create a new profile.</a>
</FOOTER>
