<h1><%= current_user.name %>'s Pictures</h1>

<h2>Add A New Picture</h2>

<form method = 'post' action = '/upload'>
  <input type="hidden" name="user_id" value= " <%=current_user.id%>" >
  <div>
    <label>Image URL</label>
    <input type="text" name="url">
  </div>
  <div>
    <label>Street 1</label>
    <input type="text" name="street1">
  </div>
  <div>
    <label>Street 2</label>
    <input type="text" name="street2">
  </div>
  <div>
    <label>Artist Name</label>
    <input type="text" name="artist_name">
  </div>
  <div>
    <label>Comments</label>
    <input type="text" name="text">
  </div>
  <div>
    <label>Additional Links</label>
    <input type="text" name="link">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>

<button><a href="/">Return home</a></button>

<br/>

<h2>My Posted Artwork</h2>
<% @pictures.each do |picture| %>
  <%=picture.id%>
  <div class="picture">
    <h4><small>(submitted by: <%= picture.user.email %>) </small></h4>
      <a href="/picture/<%=picture.id %>"><img src="<%= picture.img_url %>"></a>
    <p>
      Found at: <%= picture.intersection.street1%> and <%= picture.intersection.street2%>
    </p>
    <p><%= picture.text %></p>
    <h3><%= picture.artist_name%></h3>
    <p>
      Posted on: <%=picture.created_at%>
    </p>
    <br>
    <a href = "<%= picture.img_url %>"</a>

  <form method="post" action="/posts/<%= picture.id %>/delete">
    <div>
      <input type="submit" value="Delete">
    </div>
  </form>

  </div>

<% end %>
