<HEAD>
    <TITLE>My Posted Artwork</TITLE>
      <h1>MY STREET ART</h1>

    </div>

    <!-- ## Login  ## -->


  <nav class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">My Street Art</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Upload Artwork</a></li>
        <li><a href="#">Edit Collection</a></li>
        <li>
          <form role="search" class="navbar-form navbar-left">
            <div class="form-group">
                <input type="text" placeholder="Street 1" class="form-control">
                <input type="text" placeholder="Street 2" class="form-control">
            </div>
            <button type="submit" class="btn btn-default">Find Art!</button>
          </form>
        </li>
        <li>

        </li>
      </ul>
    </div>

  </nav>

    </HEAD>

    <!-- ## Search  ## -->
<BODY>
  <div class="jumbotron">
    <div class="panel-login">
      <h3><%= current_user.name %>'s Pictures</h3>

      <% if current_user %>
        <form method= 'get' action = '/logout'>
        <input type="submit" value = "Log Out">
        </form>
      <% else %>
        <form action="/session" method="post">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

        <br>
            <label><input type="checkbox" name="remember_me" value="true"> Remember Me</label>
        <br>
            <input type="submit" name="submit" value="Log In">
          </div>
        </form>
      <% end %>
      <br />
    </div>

  </div>

  <!-- ##  Display Pictures ## -->

<% current_user.pictures.each do |picture| %>

<div class="picture">
  <h2> // <%= picture.intersection.street1%> <small> AND </small> <%= picture.intersection.street2%> // </h2>
  <h3><small>Submitted by:</small> <%= picture.user.name %> </h3>
  <p><small> Posted on: <%= picture.created_at %></small></p>

  <img src="<%= picture.img_url %>" width="600">
  <i><h5><small>Artist:</small> <%= picture.artist_name %> </h5></i>
  <h6> <%= picture.text %> </h6>

  <br>
  <br>
</div>
<% end %>

</BODY>
