<HEAD>
    <TITLE>My Posted Artwork</TITLE>
      <h1>MY STREET ART</h1>
    <!-- ## Login  ## -->

  <nav class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/user_page"><font color="yellow">Gotta catch'em all!</font></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/user_page/pictures/new">Add Artwork</a></li>
        <li>
          <form role="search" action="/search" method="get" class="navbar-form navbar-left">
            <div class="form-group">
                <input type="text" name="street1" placeholder="Street 1" class="form-control">
                <input type="text" name="street2" placeholder="Street 2" class="form-control">
            </div>
            <button type="submit" class="btn btn-default">Find Art!</button>
          </form>
        </li>
        <li>

        </li>
      </ul>
    </div>

  </nav>

    </HEAD>

    <!-- ## Search  ## -->
<BODY>
  <div class="jumbotron">
    <div class="panel-login">
      <h4>What's up! <h5> <%= current_user.name %></h5> </h4>

      <% if current_user %>
        <form method= 'get' action = '/logout'>
        <button type="submit" class="btn-warning btn-sm">Log Out</button>
        </form>
      <% else %>
        <form action="/session" method="post">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

        <br>
            <label><input type="checkbox" name="remember_me" value="true"> Remember Me</label>
        <br>
            <button type="submit" class="btn-warning btn-sm">Log In</button>
          </div>
        </form>
      <% end %>
      <br />
    </div>

  </div>

  <!-- ##  Display Pictures ## -->

<% current_user.pictures.each do |picture| %>

<div class="picture">
  <br><br>
  <h2> // <%= picture.intersection.street1%> <small> AND </small> <%= picture.intersection.street2%> // </h2>
  <h3><small>Submitted by:</small> <%= picture.user.name %> </h3>
  <p><small> Posted on: <%= picture.created_at %></small></p>

  <img src="<%= picture.img_url %>" width="600">

    <div class="comment" style="width: 95%; position: relative; float: left">
      <i><h5><small>Artist:</small> <%= picture.artist_name %> </h5></i>
      <br>
      <h6> <%= picture.text %> </h6>
    </div>

    <div class="update_delete_buttons" align=right style="width: 5%; position: relative; float: right">
      <br>
      <div>
        <form method="post" action="/pictures/<%= picture.id %>/edit">
        <botton type="submit" class="btn-primary btn-sm"> Edit </button>
        </form>
      </div>
      <br>
      <div>
         <form method="post" action="/pictures/<%= picture.id %>/delete">
           <botton type="submit" class="btn-danger btn-sm"> Delete </button>
         </form></div>
        </div>
</div>
<br>
<br>
<br>
<br>
<% end %>

</BODY>
